.navbar {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
}
.nav-container {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 7px;
}
.headerComp {
  width: 100%;
}
.nav-menu {
  display: flex;
  flex-direction: row-reverse;
  list-style: none;
  color: black;
}

.nav-links {
  text-decoration: none;
  color: black;
  font-size: 0.75rem;
  font-weight: 700;
}
.fa-code {
  margin-left: 1rem;
}
.nav-item {
  line-height: 40px;
  margin-right: 2rem;
}

.nav-item:after {
  content: "";
  display: block;
  height: 1.5px;
  width: 0;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #e83e8c;
}

.nav-icon {
  display: none;
}
.search-input {
  margin: 7px 30px 0 60px;
  border: 0;
  border-bottom: 1px solid #191919;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%23a0a0a0%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Ccircle%20cx%3D%229%22%20cy%3D%229%22%20r%3D%227%22%3E%3C%2Fcircle%3E%3Cpath%20d%3D%22M20%2020l-6.5-6.5%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: center right 1.1rem;
  background-size: 20px;
  height: 30px;
}
.SearchComp {
  display: none;
  width: 100%;
  padding-bottom: 10px;
}

@media screen and (max-width: 1020px) {
  .headerComp {
    margin-top: 30px;
  }
  .search-input {
    margin: 0px;
    width: 96%;
    background-color: transparent;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-menu.active {
    background: white;
    left: 0px;
    transition: all 0.5s ease;
  }
  .search-item {
    background-color: #ffefef;
    width: 100%;
  }
  .nav-item .active {
    color: black;
    border: none;
  }
  .nav-links {
    padding: 0.5rem;
    width: 100%;
    display: table;
  }
  .nav-icon {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #9b9a97;
  }
  .SearchComp {
    display: block;
    margin-left: 30px;
    margin-top: 30px;
  }
}
